<li>
  Name: <%= user.name %>
  <span class="profile-link">
  
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%if !user.friend?(current_user) and user != current_user%>
      <%= link_to 'Add a friend',  user_friendships_path(user), method: :post, class: 'profile-link' %>
    <%end%>
  </span>
</li>